### SOURCE OF THIS TUTORIAL : https://docs.python.org/3/tutorial/introduction.html

print function
- print(some value you want to see)
- In Python 2, `print "hello world"` was okay.
- But In Python 3, you must use "( )" for printing, like `print("hello world")`.

In [ ]:
course_name = "AI ToolKit"
num_courses = 10
### Simple print function
print('Hello world!')

Hello world!

In [ ]:
### ADD STRING WITH '+' OPERATION
print('Hello and welcome to ' + course_name)

Hello and welcome to AI ToolKit

In [ ]:
### ADD STRING WITH {} & 'format' function
### 'data' == '{}'.format('data')
print('The course\'s name is \"{}\"'.format(course_name))

The course's name is "AI ToolKit"

In [ ]:
### OR use %s (strings) %d (integer) %f (float) ...
### "text, 10" == "%s, %d" %('text', 10)
print('In %s course, we will learn various things! In total, %d courses will be provided.' %(course_name, num_courses))

In AI ToolKit course, we will learn various things! In total, 10 courses will be provided.

### Python as a Calculator

In [ ]:
print(2+2)
print(50-5*6)
print()

## Difference from Python 2 and Python 3 : division always makes the float result
print(18/5)
print()

## Use // for generating integer result after division.
print(18//5)
print()

## % for get the remainder of the division
# if k % 10 == 0: (if k can be divided by 10 with 0 remainder, below will be run.)
print(101 % 10)
print()

## ** for power.
print(10 ** 2)
print(10 ** 3)

4
20

3.6

3

1

100
1000

### Some useful string operations
- s1.split()
-s1.join()
-s1.lower() and s1.upper()

### Indexing in the string (list)
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   6
  -6  -5  -4  -3  -2  -1
```

In [ ]:
## Split the string! the default is spliting with space
curr_str = "This is the string for you! / Thanks a lot"
print(curr_str.split())
print(curr_str.split('/'))

['This', 'is', 'the', 'string', 'for', 'you!', '/', 'Thanks', 'a', 'lot']
['This is the string for you! ', ' Thanks a lot']

In [ ]:
## Join the strings in the list. s1.join(L) would make L[0] + s1 + L[1] + s1 + ....
curr_char = ['w', 'h', 'a', 't', 'i', 's', 't', 'h', 'i', 's']
print(' '.join(curr_char))
print(''.join(curr_char))
print('HHH'.join(curr_char))

w h a t i s t h i s
whatisthis
wHHHhHHHaHHHtHHHiHHHsHHHtHHHhHHHiHHHs

In [ ]:
## String to lower / upper cases
curr_str = "This is the string for you! / Thanks a lot"
print(curr_str.lower())
print(curr_str.upper())

this is the string for you! / thanks a lot
THIS IS THE STRING FOR YOU! / THANKS A LOT

In [ ]:
## String can be indexed like a list (wait but what is the list?)!
curr_str = "This is the string for you! / Thanks a lot"
print(curr_str[0])
print(curr_str[1])
print(curr_str[-1])
print(curr_str[-2])

T
h
t
o

### List in Python : group other values together!
- Watch out for the indexing
    - it starts from 0 1 2...
    - If you want to go backward, it is -1, -2, -3, ....
- L[a:b]
    - slice the list "L" from index `a` to `b-1`. Number of the elements will be `b-a`
- L1 + L2
    - Concatenating two list L1 and L2
- L.append(element)
    - Add the element at the end of L. The length of L will be increased.
- len(L)
    - Number of elements inside the List L

In [ ]:
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']

## len(list_variable) => number of elements in list_variable.
print(my_list, 'List can include elements from different types')
print('Length of list : {}'.format(len(my_list)))

[0, 1, 2, 'a', 'b', 'c'] List can include elements from different types
Length of list : 6

In [ ]:
## Watch out for orders
my_list = [0, 1, 2, 'a', 'b','c']
print('First element: ', my_list[0])
print('Second element: ', my_list[1])
print('Third element: ', my_list[2])

print('Last element: ', my_list[-1])
print('Second Last element: ', my_list[-2])
print('Third Last element: ', my_list[-3])

First element:  0
Second element:  1
Third element:  2
Last element:  c
Second Last element:  b
Third Last element:  a

In [ ]:
## adding two list, make concatenation
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']
concat_list = my_list + your_list
print('Concated List: ', concat_list)
print()

## add an element to concat_list
concat_list.append('NEW FRIEND')
print('List after adding new: ', concat_list)
print()

## Delete the element of list
del concat_list[-1]
print('List after erasing last: ', concat_list)
print()

## Delete the some part of the list
concat_list[0:3] = []
print('List after erasing block: ', concat_list)
print()

## find the INDEX of the element!
print('3 is at the {}th order in concat_list'.format( concat_list.index(3) + 1 ) )

Concated List:  [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

List after adding new:  [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f', 'NEW FRIEND']

List after erasing last:  [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

List after erasing block:  ['a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

3 is at the 4th order in concat_list

In [ ]:
## List can contain other list as element
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']
super_list = [my_list, your_list, ["new!"]]
print(super_list)
print()

[3, 4, 5, 'd', 'e', 'f']

### Dictionary in Python!
- map 'key' with 'value'
- D['key'] = value

In [ ]:
## DEFINE SOME DICTIONARY
deep_learning_tools = dict()
deep_learning_tools['Google'] = 'Tensorflow'
deep_learning_tools['Meta'] = 'PyTorch'
deep_learning_tools['Apache'] = 'MXNet'

print('Dictionary: \t', deep_learning_tools)
print('Keys: \t\t', deep_learning_tools.keys())
print('Values: \t', deep_learning_tools.values())

Dictionary: 	 {'Google': 'Tensorflow', 'Meta': 'PyTorch', 'Apache': 'MXNet'}
Keys: 		 dict_keys(['Google', 'Meta', 'Apache'])
Values: 	 dict_values(['Tensorflow', 'PyTorch', 'MXNet'])

In [ ]:
## Iterate with key and values!
for k, v in deep_learning_tools.items():
    print('{} \t ---> \t  {}'.format(k, v))

## print the length
print('Length of this dictionary : {}'.format(len(deep_learning_tools)))

Google 	 ---> 	  Tensorflow
Meta 	 ---> 	  PyTorch
Apache 	 ---> 	  MXNet
Length of this dictionary : 3

### If statement
- Consists of **if, elif, else**.
```
if [some condition] :
    do something you want
elif [another condition] :
    do another thing you want
else:
    do others you want
```
- Always add ' : ' !
- Grammar real English

In [ ]:
input_int = int(input('Enter your positive integer value! : '))
if input_int < 0:
    print('NEGATIVE INTEGER!')
else:
    if input_int % 5 == 0:
        print('This integer can be divided by 5')
    elif input_int % 5 == 1:
        print('This integer leaves 1 after divided by 5')
    else:
        print('This interger leaves value larger than 1 after divided by 5')

Enter your positive integer value! : 5
This integer can be divided by 5

### For statement and RANGE
```
for (something) in (something that can be iterated):
    do what you want with (something)
```
```
for idx in range(start, end, stride):
    idx would be start, start+stride, start+2*stride .....
```
* Always add ' : ' !
* Grammar like English

In [ ]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
### iterate elements in "alphabet"
for ch in alphabet:
    print(ch)
print()

### iterate elements in "alphabet" with index information
for char_idx, char in enumerate(alphabet):
    print(char_idx, char)

a
b
c
d
e
f
g
h
i

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i

In [ ]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [ ]:
start_idx = 5
end_idx = 0
stride = -1
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

### iterate elements using "range"
for idx in range(start_idx, end_idx, stride):
    print(alphabet[idx])
print()

### iterate elements using index information directly.
print(alphabet[start_idx:end_idx:stride])
for char in alphabet[start_idx:end_idx:stride]:
    print(char)

print('Last character was : ' + char)

f
e
d
c
b

['f', 'e', 'd', 'c', 'b']
f
e
d
c
b
Last character was : b

In [ ]:
for i in range(2):
    for j in range(10):
        value = i * 10 + j
        if i == 1 and j == 5:
            print('I want this number : '+str(value))
            break
        else:
            print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
I want this number : 15

In [ ]:
## Some tricks to make a list
print([x for x in range(10)])
print([x for x in range(10) if x % 2 == 0])
print([x**2 for x in range(10) if x % 2 == 1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 9, 25, 49, 81]

In [ ]:
## Some useful operations for the list
curr_list = [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]
# curr_list = ['b', 'd', 't', 's', 'h', 'a']
print('Current List : ', curr_list)
print('Sum of list : {}'.format(sum(curr_list)))
print('Max of list : {}'.format(max(curr_list)))
print('Min of list : {}'.format(min(curr_list)))
print('Sorted List : ', sorted(curr_list))
print('Unique set : ', set(curr_list))

Current List :  [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]
Sum of list : 57
Max of list : 10
Min of list : 0
Sorted List :  [0, 1, 2, 3, 5, 8, 9, 9, 10, 10]
Unique set :  {0, 1, 2, 3, 5, 8, 9, 10}

### While statement
```
while (some condition to keep this while loop) :
    do something you want
```

In [ ]:
cnt = 0
limit = 10
middle_point = 5

while cnt < limit:
    print('Current Counter : ', cnt)
    if cnt is middle_point:
        print('STOP')
        break
    # always care about infinite loop!
    cnt += 1

print('Final Counter : ', cnt)

Current Counter :  0
Current Counter :  1
Current Counter :  2
Current Counter :  3
Current Counter :  4
Current Counter :  5
STOP
Final Counter :  5


### Function Definition
```
def Name_of_Function(input1, input2, input3, ...) :
    do something with input1, input2, input3,...
    return something_you_want
```

In [ ]:
def Fibonacci(index):
    '''
    input : Generate a list until (index)-th of Fibonacci number.
    '''
    result = [1, 1]
    if index < 1:
        raise ValueError('Give the valid index, please')
        return []

    elif 1 <= index <= 2:
        return result[:index]

    else:
        result = [1, 1]
        for i in range(index-2):
            result.append(result[-1]+result[-2])

    return result

In [ ]:
inp_index = int(input('Which order of Fibonacci number you want? : '))
print(Fibonacci(inp_index))

Which order of Fibonacci number you want? : 9
[1, 1, 2, 3, 5, 8, 13, 21, 34]

### Class Definition
```
class ClassName(ParentClass):
    def __init__(self, inp1, inp2, ...):
        self.inp1 = inp1
        self.inp2 = inp2
        ...

    def some_function_you_want(self, inp3, inp4):
        return something_you_want
```

In [ ]:
class RockBand(object):
    def __init__(self, name, num_members, start_year):
        self.name = name
        self.num_members = num_members
        self.start_year = start_year
        print('{} band created!'.format(self.name))

    def add_new_member(self):
        print('One member added to {}.'.format(self.name))
        self.num_members += 1

    def remove_one_member(self):
        print('One member left from {}.'.format(self.name))
        self.num_members -= 1

    def change_name(self, new_name):
        print('Band will change their name from {} to {}'.format(self.name, new_name))
        self.name = new_name

    def __str__(self):
        return 'Band named %s, has %d members, and started from %d.' % (self.name, self.num_members, self.start_year)

In [ ]:
queen = RockBand('Queen', 4, 1970)
print(queen)
#
led_zeppelin = RockBand('Led Zeppelin', 4, 1968)
print(led_zeppelin)

queen.remove_one_member()
queen.add_new_member()
queen.change_name('King')
print(queen)

Queen band created!
Band named Queen, has 4 members, and started from 1970.
Led Zeppelin band created!
Band named Led Zeppelin, has 4 members, and started from 1968.
One member left from Queen.
One member added to Queen.
Band will change their name from Queen to King
Band named King, has 4 members, and started from 1970.