# Getting Started with NumPy and PyTorch

In [1]:
import numpy as np
import torch

## Why we need NumPy array?
- To manipulte "data" more easily

## What is PyTorch tensor?
- It resembles NumPy's ndarray, but has more featrures
    - Supports automatic differentiation
    - Leverages GPUs to accelerate numerical computation
        - NumPy only runs on CPUs!
- These features make neural networks easy to code as well as fast to run

#### What should we do if we want to sum up values inside two lists?

In [2]:
data_list_1 = [[1, 3, 5], [2, 4, 6]]
data_list_2 = [[-1, 0, -1], [0, -1, 0]]
print('List 1: ', data_list_1)
print('List 2: ', data_list_2)
print()

sum_list = data_list_1 + data_list_2
print('When "+" two lists: ', sum_list)

List 1:  [[1, 3, 5], [2, 4, 6]]
List 2:  [[-1, 0, -1], [0, -1, 0]]

When "+" two lists:  [[1, 3, 5], [2, 4, 6], [-1, 0, -1], [0, -1, 0]]

#### Make all as NUMPY array!

In [3]:
data_array_1 = np.array(data_list_1)
data_array_2 = np.array(data_list_2)
print('Array 1: ')
print(data_array_1)
print()

print('Array 2: ')
print(data_array_2)
print()

print('Transposed Array 2: ')
print(data_array_2.T)

Array 1:
[[1 3 5]
 [2 4 6]]

Array 2:
[[-1  0 -1]
 [ 0 -1  0]]

Transposed Array 2:
[[-1  0]
 [ 0 -1]
 [-1  0]]

#### Try various operaions with arrays!

In [4]:
sum_array = data_array_1 + data_array_2
mul_array = data_array_1 * data_array_2
matmul_array = np.matmul(data_array_1, data_array_2.T)

print('When "+" two arrays: ')
print(sum_array)
print()

print('When element-wise "*" two arrays: ')
print(mul_array)
print()

print('When doing a matrix multiplication: ')
print(matmul_array)

When "+" two arrays:
[[0 3 4]
 [2 3 6]]

When element-wise "*" two arrays:
[[-1  0 -5]
 [ 0 -4  0]]

When doing a matrix multiplication:
[[-6 -3]
 [-8 -4]]

#### Make all as PyTorch tensor!

In [5]:
data_tensor_1 = torch.tensor(data_list_1)
data_tensor_2 = torch.tensor(data_list_2)
print('Tensor 1: ')
print(data_tensor_1)
print()

print('Tensor 2: ')
print(data_tensor_2)
print()

print('Transposed Tensor 2: ')
print(data_tensor_2.T)

Tensor 1:
tensor([[1, 3, 5],
        [2, 4, 6]])

Tensor 2:
tensor([[-1,  0, -1],
        [ 0, -1,  0]])

Transposed Tensor 2:
tensor([[-1,  0],
        [ 0, -1],
        [-1,  0]])

#### Try various operaions with tensors!

In [6]:
sum_tensor = data_tensor_1 + data_tensor_2
mul_tensor = data_tensor_1 * data_tensor_2
matmul_tensor = torch.matmul(data_tensor_1, data_tensor_2.T)

print('When "+" two tensors: ')
print(sum_tensor)
print()

print('When element-wise "*" two tensors: ')
print(mul_tensor)
print()

print('When doing a matrix multiplication: ')
print(matmul_tensor)

When "+" two tensors:
tensor([[0, 3, 4],
        [2, 3, 6]])

When element-wise "*" two tensors:
tensor([[-1,  0, -5],
        [ 0, -4,  0]])

When doing a matrix multiplication:
tensor([[-6, -3],
        [-8, -4]])

## Creating Arrays and Tensors

#### Try various methods to create arrays!

In [14]:
# a = np.arange(15, dtype=np.float32)
# a = np.array([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]], dtype=np.float32)
# a = np.linspace(0, 14, 15)  # 15 numbers from 0 to 14
# a = np.ones((3, 5))

# a = np.zeros((3, 5), dtype = int)
a = np.full((3, 5), 10)
#
# np.random.seed(0)
# a = np.random.rand(3, 5)
# a = np.random.randn(3, 5)

print(a)
print('Data Type: ', a.dtype)
print()

[[10 10 10 10 10]
 [10 10 10 10 10]
 [10 10 10 10 10]]
Data Type:  int64

#### Try various methods to create tensors!

In [15]:
x = torch.arange(15, dtype=torch.float32)
# x = torch.tensor([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]], dtype=torch.float32)
# x = torch.linspace(0, 14, 15)  # 15 numbers from 0 to 14
# x = torch.ones((3, 5))

# x = torch.zeros((3, 5), dtype = int)
x = torch.full((3, 5), 10)

torch.manual_seed(0)
x = torch.rand(3, 5)
# x = torch.randn(3, 5)

print(x)
print('Data Type: ', x.dtype)
print()

tensor([[0.4963, 0.7682, 0.0885, 0.1320, 0.3074],
        [0.6341, 0.4901, 0.8964, 0.4556, 0.6323],
        [0.3489, 0.4017, 0.0223, 0.1689, 0.2939]])
Data Type:  torch.float32

#### Shape of Arrays : how do we reshape, transpose, and check shape info.

In [16]:
### Watch out how array is reshaped. This would be different from the MATLAB
a = np.arange(15)
# a = a.reshape(3, 5)
a = a.reshape(-1, 5)
# a = np.arange(15).reshape(-1, 5) # -1 calculates the rest dimension automatically

print(a)
print(a.T) # transposing the array
print(a.shape, a.ndim)
print()

print('When adding new axis in the middle')
a = a[:, np.newaxis, :]
# a = a[:, None, :]
print(a.shape, a.ndim)
print()

print('Creating new ones or zeros array with same shape as given array')
b = np.ones_like(a)
# b = np.zeros_like(a)
print(b.shape)
print(a)
print(b)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]
(3, 5) 2

When adding new axis in the middle
(3, 1, 5) 3

Creating new ones or zeros array with same shape as given array
(3, 1, 5)
[[[ 0  1  2  3  4]]

 [[ 5  6  7  8  9]]

 [[10 11 12 13 14]]]
[[[1 1 1 1 1]]

 [[1 1 1 1 1]]

 [[1 1 1 1 1]]]

#### Shape of Tensors : how do we reshape, transpose, and check shape info.

In [19]:
x = torch.arange(15)
x = x.reshape(3, 5)
# x = x.reshape(-1, 5)
# x = torch.arange(15).reshape(-1, 5) # -1 calculates the rest dimension automatically

print(x)
print(x.T) # transposing the array
print(x.shape, x.ndim, x.numel())
print()

print('When adding new axis in the middle')
# x = x[:, None, :]
x = x.unsqueeze(1)
print(x.shape, x.ndim, x.numel())
print()

print('Creating new ones or zeros array with same shape as given array')
y = torch.ones_like(x)
# y = torch.zeros_like(x)
print(y.shape)
print(y)

tensor([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]])
tensor([[ 0,  5, 10],
        [ 1,  6, 11],
        [ 2,  7, 12],
        [ 3,  8, 13],
        [ 4,  9, 14]])
torch.Size([3, 5]) 2 15

When adding new axis in the middle
torch.Size([3, 1, 5]) 3 15

Creating new ones or zeros array with same shape as given array
torch.Size([3, 1, 5])
tensor([[[1, 1, 1, 1, 1]],

        [[1, 1, 1, 1, 1]],

        [[1, 1, 1, 1, 1]]])

## Indexing and Slicing

In [20]:
a = np.arange(25).reshape(-1, 5)
print('Original Array')
print(a)
print()
x = torch.arange(25).reshape(-1, 5)
print('Original Tensor')
print(x)
print()

Original Array
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

Original Tensor
tensor([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]])

#### Slicing array and tensor

In [21]:
target = a
# target = x

print('Last row of target: ', target[-1])
print('Second and Third rows of target: ')
print(target[1:3])
print()

print('Slice the middle 3x3 of target')
partial = target[1:4, 1:4]
print(partial)
print()

Last row of target:  [20 21 22 23 24]
Second and Third rows of target:
[[ 5  6  7  8  9]
 [10 11 12 13 14]]

Slice the middle 3x3 of target
[[ 6  7  8]
 [11 12 13]
 [16 17 18]]

#### Write elements to the array and tensor

In [ ]:
target = a
# target = x

target[1, 2] = 17
print('After writing value on (1, 2)')
print(target)
print()

target[:2, :] = 12
print('After writing values on 1st and 2nd rows')
print(target)

After writing value on (1, 2)
[[ 0  0  0  0  0]
 [ 0  0 17  0  0]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

After writing values on 1st and 2nd rows
[[12 12 12 12 12]
 [12 12 12 12 12]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

## Operations

#### Exponential and log

In [31]:
a = np.random.randn(3, 3)
print('original array')
print(a)
print()
print('after exponential')
print(np.exp(a))
print()
print('after log to exponential == original array')
print(np.log(np.exp(a)))
print()
print('='*50)

x = torch.randn(3, 3)
print('original tensor')
print(x)
print()
print('after exponential')
print(torch.exp(x))
print()
print('after log to exponential == original tensor')
print(torch.log(torch.exp(x)))
print()

original array
[[ 1.76405235  0.40015721  0.97873798]
 [ 2.2408932   1.86755799 -0.97727788]
 [ 0.95008842 -0.15135721 -0.10321885]]

after exponential
[[5.83603919 1.49205924 2.66109578]
 [9.40172515 6.47247125 0.37633413]
 [2.58593829 0.85954061 0.90192956]]

after log to exponential == original array
[[ 1.76405235  0.40015721  0.97873798]
 [ 2.2408932   1.86755799 -0.97727788]
 [ 0.95008842 -0.15135721 -0.10321885]]

==================================================
original tensor
tensor([[ 0.6035,  0.8110, -0.0451],
        [ 0.8797,  1.0482, -0.0445],
        [-0.7229,  2.8663, -0.5655]])

after exponential
tensor([[ 1.8286,  2.2501,  0.9559],
        [ 2.4102,  2.8525,  0.9565],
        [ 0.4854, 17.5726,  0.5681]])

after log to exponential == original tensor
tensor([[ 0.6035,  0.8110, -0.0451],
        [ 0.8797,  1.0482, -0.0445],
        [-0.7229,  2.8663, -0.5655]])

#### Numerical Operations

In [32]:
a = np.array([1, 2, 3, 4], dtype=np.float32)
b = np.array([3, 3, 3, 3], dtype=np.float32)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print()
print('='*50)

x = torch.tensor([1, 2, 3, 4], dtype=torch.float32)
y = torch.tensor([3, 3, 3, 3], dtype=torch.float32)
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)

[4. 5. 6. 7.]
[-2. -1.  0.  1.]
[ 3.  6.  9. 12.]
[0.33333334 0.6666667  1.         1.3333334 ]
[ 1.  8. 27. 64.]

==================================================
tensor([4., 5., 6., 7.])
tensor([-2., -1.,  0.,  1.])
tensor([ 3.,  6.,  9., 12.])
tensor([0.3333, 0.6667, 1.0000, 1.3333])
tensor([ 1.,  8., 27., 64.])

#### Concatenation: NumPy Array

In [39]:
a = np.arange(12, dtype=np.float32).reshape(3, 4)
b = np.array([[1, 1, 2, 2], [4, 4, 6, 6], [8, 8, 10, 10]], dtype=np.float32)

print('vertical stack - using np.concatenate')
print(np.concatenate([a, b], axis=0))
print()

print('vertical stack - using np.vstack')
print(np.vstack([a, b]))
print()

print('horizontal stack - using np.concatenate')
print(np.concatenate([a, b], axis=1))
print()

print('horizontal stack - using np.hstack')
print(np.hstack([a, b]))
print()

print("z-axis stack")
print(np.concatenate([a[:, :, None], b[:, :, None]], axis=-1))

vertical stack - using np.concatenate
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]
 [ 1.  1.  2.  2.]
 [ 4.  4.  6.  6.]
 [ 8.  8. 10. 10.]]

vertical stack - using np.vstack
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]
 [ 1.  1.  2.  2.]
 [ 4.  4.  6.  6.]
 [ 8.  8. 10. 10.]]

horizontal stack - using np.concatenate
[[ 0.  1.  2.  3.  1.  1.  2.  2.]
 [ 4.  5.  6.  7.  4.  4.  6.  6.]
 [ 8.  9. 10. 11.  8.  8. 10. 10.]]

horizontal stack - using np.hstack
[[ 0.  1.  2.  3.  1.  1.  2.  2.]
 [ 4.  5.  6.  7.  4.  4.  6.  6.]
 [ 8.  9. 10. 11.  8.  8. 10. 10.]]

z-axis stack
[[[ 0.  1.]
  [ 1.  1.]
  [ 2.  2.]
  [ 3.  2.]]

 [[ 4.  4.]
  [ 5.  4.]
  [ 6.  6.]
  [ 7.  6.]]

 [[ 8.  8.]
  [ 9.  8.]
  [10. 10.]
  [11. 10.]]]

#### Concatenation: PyTorch Tensor

In [40]:
x = torch.arange(12, dtype=torch.float32).reshape(3, 4)
y = torch.tensor([[1, 1, 2, 2], [4, 4, 6, 6], [8, 8, 10, 10]], dtype=torch.float32)

print('vertical stack - using torch.cat')
print(torch.cat([x, y], dim=0))
print()

print('vertical stack - using torch.vstack')
print(torch.vstack([x, y]))
print()

print('horizontal stack - using torch.cat')
print(torch.cat([x, y], dim=1))
print()

print('horizontal stack - using torch.hstack')
print(torch.hstack([x, y]))
print()

vertical stack - using torch.cat
tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.],
        [ 1.,  1.,  2.,  2.],
        [ 4.,  4.,  6.,  6.],
        [ 8.,  8., 10., 10.]])

vertical stack - using torch.vstack
tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.],
        [ 1.,  1.,  2.,  2.],
        [ 4.,  4.,  6.,  6.],
        [ 8.,  8., 10., 10.]])

horizontal stack - using torch.cat
tensor([[ 0.,  1.,  2.,  3.,  1.,  1.,  2.,  2.],
        [ 4.,  5.,  6.,  7.,  4.,  4.,  6.,  6.],
        [ 8.,  9., 10., 11.,  8.,  8., 10., 10.]])

horizontal stack - using torch.hstack
tensor([[ 0.,  1.,  2.,  3.,  1.,  1.,  2.,  2.],
        [ 4.,  5.,  6.,  7.,  4.,  4.,  6.,  6.],
        [ 8.,  9., 10., 11.,  8.,  8., 10., 10.]])

#### Element-wise Logical Statements

In [41]:
### element-wise logical statements
a = np.arange(12, dtype=np.float32).reshape(3, 4)
b = np.array([[1, 1, 2, 2], [4, 4, 6, 6], [8, 8, 10, 10]], dtype=np.float32)

x = torch.arange(12, dtype=torch.float32).reshape(3, 4)
y = torch.tensor([[1, 1, 2, 2], [4, 4, 6, 6], [8, 8, 10, 10]], dtype=torch.float32)

###

t1 = x
t2 = y

print('target 1')
print(t1)
print()

print('target 2')
print(t2)
print()

print('element-wise comparison: check equal')
print(t1 == t2)
print(torch.sum(t1==t2)/(t1==t2).numel())
print()

print('element-wise comparison: check t1 > t2')
print(t1 > t2)
print()

print('element-wise comparison: check t1 < t2')
print(t1 < t2)
print()

target 1
tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.]])

target 2
tensor([[ 1.,  1.,  2.,  2.],
        [ 4.,  4.,  6.,  6.],
        [ 8.,  8., 10., 10.]])

element-wise comparison: check equal
tensor([[False,  True,  True, False],
        [ True, False,  True, False],
        [ True, False,  True, False]])
tensor(0.5000)

element-wise comparison: check t1 > t2
tensor([[False, False, False,  True],
        [False,  True, False,  True],
        [False,  True, False,  True]])

element-wise comparison: check t1 < t2
tensor([[ True, False, False, False],
        [False, False, False, False],
        [False, False, False, False]])

#### Sum, Max, Min, Mean, Std

In [42]:
a = np.arange(12, dtype=np.float32).reshape(3, 4)
x = torch.arange(12, dtype=torch.float32).reshape(3, 4)

target = x

print(target.sum())
print(target.max())
print(target.min())
print(target.mean())
print(target.std())

tensor(66.)
tensor(11.)
tensor(0.)
tensor(5.5000)
tensor(3.6056)

#### Broadcasting
![broadcasting.png]()

In [43]:
a = np.arange(3).reshape(3, 1)
b = np.arange(2).reshape(1, 2)

x = torch.arange(3).reshape(3, 1)
y = torch.arange(2).reshape(1, 2)

t1 = a
t2 = b

print(t1)
print(t2)
print()

print(t1+t2)

[[0]
 [1]
 [2]]
[[0 1]]

[[0 1]
 [1 2]
 [2 3]]

#### Address and In-place operation

In [44]:
a = np.arange(3).reshape(3, 1)
b = np.arange(2).reshape(1, 2)

x = torch.arange(3).reshape(3, 1)
y = torch.arange(2).reshape(1, 2)

t1 = x
t2 = y

before = id(t2)
t2 = t1+t2
print(id(t2) == before)
print(t2.shape)

False
torch.Size([3, 2])

In [45]:
# X[:] = <expression> assigns the result from an operation to a previously allocated array X.
t3 = torch.zeros_like(t2)
print('id(c): ', id(t3))
t3[:] = t1+t2
print('id(c): ', id(t3))

id(c):  136840816554880
id(c):  136840816554880

In [46]:
a = np.arange(3)
b = np.arange(3)*2

before = id(a)
a += b # in-place operation.
print(id(a) == before)

True

#### Type Conversion

In [47]:
x = torch.arange(3)
a = x.numpy()
b = torch.from_numpy(a)
#
# if x results from network and that network is on GPU
# a = x.detach().cpu().numpy()
print(type(a), type(b))

<class 'numpy.ndarray'> <class 'torch.Tensor'>

In [48]:
a = torch.tensor([3.5], dtype=torch.float)
print(a)
print(a.item())
print(float(a))
print(int(a))

tensor([3.5000])
3.5
3.5
3